interface "eth0" {
{% if 'host-name' not in dhclient_request %}
{%   if dhclient_host_name is defined %}
    supersede host-name "{{ dhclient_host_name }}.{{ dhclient_domain_name }}";
{%   endif %}
{% endif %}
{% if 'domain-name' not in dhclient_request %}
{%   if dhclient_domain_name is defined %}
    supersede domain-name "{{ dhclient_domain_name }}";
{%   endif %}
{% endif %}
{% if 'domain-search' not in dhclient_request %}
{%   if dhclient_domain_search is defined %}
    supersede domain-search "{{ dhclient_domain_search }}";
{%   endif %}
{% endif %}
{% if 'domain-name-servers' not in dhclient_request %}
{%   if dhclient_domain_name_servers is defined %}
    supersede domain-name-servers {{ dhclient_domain_name_servers | join(', ') }};
{%   endif %}
{% endif %}
{% if dhclient_request is defined %}
    request {{ dhclient_request|join(', ') }};
{% endif %}
{% if dhclient_require is defined %}
    require {{ dhclient_require|join(', ') }};
{% endif %}
}
